.git/**
.vscode/**
.vscode-test/**
.claude/**
.github/**
.kiro/**
node_modules/**
test/**
test-artifacts/**
docs/**
dist/**
scripts/**
src/**
.gitignore
AGENTS.md
CLAUDE.md
tsconfig.json
*.html
*.vsix
package-lock.json
npm-debug.log
